<!-- <aside class="sidebar">
    <div class="logo">
        <span>AQI Dashboard</span>
    </div>
    <ul>
        <li><a href="#">🏠 Home</a></li>
        <li><a href="#">📊 Analytics</a></li>
        <li><a href="#">⚙️ Settings</a></li>
    </ul>
</aside> -->
<div class="sidebar-header">
    Air Quality
</div>
<nav class="sidebar-nav">
    <a href="index.html">
        <img src="https://img.icons8.com/?size=100&id=xtnIDXkBb0sK&format=png&color=000000" alt="dashboard">
        Dashboard
    </a>
    <a href="control.html">
        <img src="https://img.icons8.com/?size=100&id=XSairW36BKgX&format=png&color=000000" alt="locations">
        Control
    </a>
    <a href="location.html">
        <img src="https://img.icons8.com/ios/50/2c3e50/map-marker.png" alt="locations">
        Location
    </a>
    <a href="monitoring.html">
        <img src="https://img.icons8.com/?size=100&id=60719&format=png&color=000000" alt="settings">
        Monitoring
    </a>
</nav>